.footer{
    background-image: url(../../Assets/img/bg-grid.jpg);
    padding: 0 100px;


    .myContainer{
        position: relative;
        padding: 80px 0 50px 0;
        border-bottom: 2px solid $color-black-400;
        
        .footer__logo{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        .info-list{
            .list-name{
                font-size: 20px;

                &::after{
                    display: block;
                    content: '';
                    width: 35px;
                    height: 3px;
                    background-color: $color-green-200;
                    margin: 4px 0;
                }
            }

            ul{
                li{
                    padding: 4px 0;

                    a{
                        color: $color-green-200;
                        font-size: 16px;
                        cursor: pointer;
                        transition: all .3s ease;

                        &:hover{
                            text-decoration: underline;
                            color: $color-white-100
                        }
                    }

                    img{
                        width: 180px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    .footer__text{
        font-size:15px;
        text-align: center;
        padding: 30px 0;
    }

    @include responsive(medium){
        .footer__logo{
            width: 80px;
        }
    }
    @include responsive(small){
        padding: 0 70px;
        .footer__logo{
            width: 80px;
        }
    }
}