$color-white-100: #fff;
$color-white-200: #bfbfbf;
$color-green-100: #54ab35;
$color-green-200: #d4dd29;
$color-green-300: #bcdc95;
$color-green-400: #83aa44;
$color-green-500: #89c441;
$color-green-600: #8BC34A;
$color-black-100: #131d25;
$color-black-200: #2b2b2b;
$color-black-300: black;
$color-black-400: #343434;
$color-black-500: #121825;
$color-black-600: #273245;
$color-black-800: #1c2936;
$color-black-1000: #90a0ba;
$color-black-700: #8c9bb4;
$color-black-900:#333;
$color-black-1100: #222;
$color-black-1200: #2a2a2a;
$color-red: red;
$color-orange: rgb(185, 147, 42);
$color-dark-blue:#14252d;


$fs-1: 15px;
$fs-2: 20px;
$fs-3: 28px;

$breakpoints: (
    "extra-large": 1200px,
    "large": 992px,
    "medium": 768px,
    "small": 576px,
);



